[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule "auto-pairs"]
	path = auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
